* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.searchInput {
    display: flex;
}

.inputContainer {
    position: relative;
}
input {   
    position: relative; 
    width: 298px;
    height: 39px;
    border-radius: 30px;
    padding: 10px 10px; 
    background-color: var(--white);  
    border: none; 
    font-size: var(--font-size-s);
}

input:focus {
  outline: none;
  border: none; 
}

.closeIcon {
    position: absolute;
    left: 265px;
    bottom: 15px;
    cursor: pointer;
}

.showResult {
    position: absolute;
    top: 340px;
    padding-bottom: 10px;
}