* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: "Calibre";
    color: var(--white);
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
    text-align: center;
}

.searchPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 456px;
    height: 211px;
    background: linear-gradient(to right, var(--orange), var(--yellow));
    padding: 20px 50px;
    border-radius: 40px;
}

.searchInput{
   position: relative;
   display: flex;
   flex-direction: column;
   left: 1rem;
   gap: 10px;

}

.searchPage span {
    display: flex;
    position: relative;
    left: 1rem;
    font-size: var(--font-size-s);
    font-weight: 400;
    gap: 10px;
}
