* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.screen1Page {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: start;    
  min-height: 100vh;   
  padding-top: 20px;  
}
.navs {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  height: 15vh;
  width: 100vw;
}

.mapContainer {
  position: relative;
  height: 87vh;
  width: 100%;
}

.searchOverlay {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 5rem;
  left: 3rem;
  z-index: 10;
}




