* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.navPage {
    padding: 20px 167px;
    height: 8vh;
    width: 100vw;
    display: flex;
}

li {
    cursor: pointer;
}

.leftContainer ul, .rightContainer > ul {
    display: flex;
    gap: 3vw;   
}

.rightContainer ul li p, 
.leftContainer ul li p {
    padding: 10px;
    font-size: var(--font-size-xl);
    font-weight: 700;  
}

.rightContainer ul {
    padding-left: 35vw;
}

.searchIcon {
    padding: 10px;
}