* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.navPage {
    padding: 0px 150px;
    height: 8vh;
    width: 100vw;
    display: flex;
    border-bottom: 1px solid var(--grey100);
}

li {
    cursor: pointer;
}

.leftContainer, .rightContainer {
    display: flex;
    gap: 2vw;   
}

.rightContainer li p, 
.leftContainer li p {
    padding-top: 10px;
    font-size: var(--font-size-xl);
    font-weight: 700;  
}

.rightContainer {
    margin-left: auto;
       
}

.searchIcon {
    padding: 15px;
}