* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.secondNavPage {
    padding: 0px 167px;
    height: 7vh;
    width: 100vw;
    border-bottom: 1px solid var(--grey100);

}

p {
    padding: 8px;
    font-size: var(--font-size-xl);
    font-weight: 700;
    cursor: pointer;
}

.listContainer img {
    margin-left: 15px;
    
}

.listContainer {
    padding: 5px;
    display: flex;
    gap: 2vw;
}