* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.servicesContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    max-height: 30px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.servicesContainer.open {
    max-height: 200px;
    overflow: visible;
}

.servicesContainer button {
    width: fit-content;
    padding: 4px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--purple700);
    color: var(--white);
    border-radius: 16px;
}

.servicesContainer button img {
    filter: invert(100%);
    padding-left: 10px;
    
}

.buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
}

.buttons p {
    font-size: var(--font-size-s);
    font-weight: 400;
}

.buttons img {
    padding-left: 5px;
    cursor: pointer;
}

.buttons button {
    width: fit-content;
    padding: 4px 20px;
    
}
.dropdownIcon {
   position: absolute;
   right: 0px;
   top: 5px;
   z-index: 10;
   cursor: pointer;

   
}